.contact-us-page {
    .input {
        @apply w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 text-sm;
      }
    .contact-us-content {
        .contact-us-content-left {
            .sub-title {
                color: #0E82FD;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 19.2px;
                /* 120% */
            }

            .main-title {
                color: #012047;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
            }

            .contact-list {
                gap: 20px;

                .contact-item {
                    padding: 20px;
                    border-radius: 10px;
                    border: 1px solid #E6E8EE;
                    background: #FFF;
                    box-shadow: 0px 4px 14px 0px rgba(226, 237, 255, 0.25);
                    width: 526px;
                    height: 94px;
                    flex-shrink: 0;
                    @media (max-width: 768px) {
                        width: 100%;
                    }
                    .contact-item-icon {
                        display: flex;
                        width: 50px;
                        height: 50px;
                        padding: 12px 13px 13px 13px;
                        justify-content: center;
                        align-items: center;
                        flex-shrink: 0;
                        border-radius: 10px;
                        background: #E2EDFF;

                        i {
                            color: #0E82FD;
                        }
                    }

                    .contact-item-content-title {
                        color: #012047;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px;
                        /* 120% */
                    }

                    .contact-item-content-value {
                        color: #465D7C;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        /* 150% */
                    }
                }
            }
        }

        .contact-us-content-right {
            .contact-us-form {
                display: flex;
                flex-direction: column;
                background-color: #E2EDFF;
                padding: 20px;
                border-radius: 10px;
                .select__control{
                    border: 1px solid #E6E8EE;
                }
                .contact-us-form-title{
                    color: #012047;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28.8px;
                    text-align: center;
                    margin-bottom: 20px;
                }
                .contact-us-form-group {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    label {
                        display: flex;
                        width: 100.335px;
                        height: 21px;
                        flex-direction: column;
                        justify-content: center;
                        flex-shrink: 0;
                        color: #012047;
                        text-align: center;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 21px;
                        width: 100%;
                        /* 150% */
                    }

                    input {
                        padding: 10px;
                        @media (max-width: 768px) {
                            width: 100%;
                        }
                        height: 36.39px;
                        flex-shrink: 0;
                        border-radius: 5px;
                        border: 1px solid #E6E8EE;
                        background: #FFF;
                    }

                    textarea {
                        padding: 10px;
                        @media (max-width: 768px) {
                            width: 100%;
                        }
                        height: 148.34px;
                        flex-shrink: 0;
                        border-radius: 10px;
                        border: 1px solid #E6E8EE;
                        background: #FFF;
                    }

                    button {
                        color: #FFF;
                        text-align: center;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 24px;
                        /* 150% */
                        display: flex;
                        width: 145.16px;
                        height: 42px;
                        padding: 11px 15.625px 11px 16px;
                        justify-content: center;
                        align-items: center;
                        flex-shrink: 0;
                        border-radius: 44px;
                        background: linear-gradient(90deg, #0E82FD 0.09%, #06AED4 70.28%);

                    }
                }
            }
        }

    }
}