.education-container {
  padding: 2rem;
  max-width: 700px;
  margin: 0 auto;
  color:white;
  background: linear-gradient(to top,#6aaff0,#c0e2f9);
  border: 2px solid #1890ff;
  border-radius: 8px;
  text-shadow: 5px 5px 6px #000074;
}

/* Làm đậm đường line của Timeline */
.custom-timeline .ant-timeline-item-tail {
  background-color: #6db4f5!important;
  width: 2px; /* tăng độ dày */
  border-radius: 2px;
}

.custom-timeline .ant-timeline-item {
  margin: 10px 0; 
}

