/* App.css */
body {
  margin: 0;
  padding: 0;
  background-color: #f0f4ff; /* xanh pastel dịu */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  min-height: 100vh;
  background-color: #f0f4ff;
}

.auth-container {
  max-width: 400px;
  margin: auto;
  padding: 40px 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}
