.testimonials-container {
    background-image: url('https://res.cloudinary.com/dut4zlbui/image/upload/v1743434581/elhu6yeqtmwphy5jgwq7.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .testimonials-title {
        color: #012047;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        line-height: 38.4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
    }

    .testimonials-content {
        .testimonials-list {
            display: flex;
            flex-direction: row;
            gap: 12px;
            width: 100%;
            justify-content: center;
            flex-wrap: wrap;

            @media (max-width: 768px) {
                flex-direction: column;
                gap: 16px;
            }

            .testimonials-item {
                padding-top: 2rem;
                padding-bottom: 2rem;
                display: flex;
                flex-direction: column;
                gap: 8px;
                padding: 16px;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                border: 1px solid #E6E8EE;
                background: #FFF;
                width: 32%;

                @media (max-width: 1024px) {
                    width: 48%;
                }

                @media (max-width: 768px) {
                    width: 100%;
                }

                .testimonials-item-ranking {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 19.2px;
                    margin-bottom: 8px;
                }

                .testimonials-item-title {
                    color: #012047;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 19.2px;

                    @media (max-width: 768px) {
                        font-size: 14px;
                    }
                }

                .testimonials-item-name {
                    display: flex;
                    height: 20px;
                    flex-direction: column;
                    justify-content: center;
                    flex-shrink: 0;
                    color: #012047;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 19.2px;

                    @media (max-width: 768px) {
                        font-size: 14px;
                    }
                }

                .testimonials-item-description {
                    color: #465D7C;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22.5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex-shrink: 0;

                    @media (max-width: 768px) {
                        font-size: 14px;
                        line-height: 21px;
                    }
                }

                .user-section {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    @media (max-width: 768px) {
                        gap: 0.75rem;
                    }

                    .user-avatar {
                        img {
                            border-radius: 50%;
                            object-fit: cover;
                            width: 40px;
                            height: 40px;
                            max-width: fit-content;

                            @media (max-width: 768px) {
                                width: 32px;
                                height: 32px;
                            }
                        }
                    }

                    .user-info {
                        .user-name {
                            .user-name-text {
                                color: #2E3842;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 21.6px;
                                display: flex;
                                height: 21px;
                                flex-direction: column;
                                justify-content: center;

                                @media (max-width: 768px) {
                                    font-size: 16px;
                                    line-height: 19.2px;
                                }
                            }
                        }

                        .user-city {
                            .user-city-text {
                                display: flex;
                                height: 19px;
                                flex-direction: column;
                                justify-content: center;
                                flex-shrink: 0;
                                color: #465D7C;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 21px;

                                @media (max-width: 768px) {
                                    font-size: 12px;
                                    line-height: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}