.home-container {
  padding: 24px;

  .subject-progress-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .subject-progress {
    display: flex;
    flex-direction: column;
  }
}
